{% load static %}

    <div class="footer fade-in-element">
      <div class="footer-ex fade-in-element" style="color: white">
        <div class="logo-footer" id="footer">Fedor Analog</div>
          <div class="media-footer">
            <div class="copyright">2024 <i class="fa-regular fa-copyright"></i></div>
          </div>
        </div>
      </div>
  <script type="text/javascript" src="{% static 'js/drop-lang.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lang-change.js' %}"></script>